* {
    padding: 0;
    margin: 0;
}

:root {
    --blue: linear-gradient( to right, #2E5894, #0066FF);
    --gold: linear-gradient( to right, #9c7c38, #daa628);
    --gray: #c6c6c5;
    --white: #f6f6f6;
    --red: linear-gradient(to right, #9C2542, #BF4F51);
}

body,
html {
    scroll-behavior: smooth;
    word-break: keep-all;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--gray);
}

p {
    padding: 20px;
}

.container {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

.podaci {
    color: #000000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

/* nav */

.main-nav {
    background-image: var(--blue);
}

.logo {
    text-align: center;
    height: 100px;
    width: 140px;
    padding: 0 100px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    text-align: center;
    display: block;
}

nav li {
    display: inline-block;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    color: var(--white);
    padding: 35px;
    display: block;
}

nav li:hover a {
    color: #000000;
}

nav li:hover {
    background-image: var(--red);
}

/* Top Container */

.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'showcase showcase top-box-a' 'showcase showcase top-box-b';
}

/* Showcase */

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(https://image.ibb.co/kYJK8x/showcase.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
}

/* Top Box */

.top-box {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.top-box-a {
    grid-area: top-box-a;
    background-image: var(--gold);
    font-weight: 700;
    font-size: 22px;
}

.top-box-b {
    grid-area: top-box-b;
    background-image: var(--red);
    color: var(--white);
}

.top-box-b a {
    background-image: var(--gold);
    padding: 10px 40px;
    border-radius: 30px;
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: var(--white);
}

/* icons*/

.container-grid {
    background-image: var(--blue);
    display: grid;
    grid-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
}

.fas {
    margin-top: 30%;
}

.circle {
    text-align: center;
    background-image: var(--red);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: var(--white);
    font-size: 60px;
    margin: 5% auto;
}

.grid-text {
    text-align: center;
    padding: 5%;
    font-size: 24px;
    font-weight: 700;
}

/* O nama */

.bg-blue {
    background-image: var(--gold);
    color: #000000;
    padding: 40px;
}

/* Footer */

footer ul {
    list-style: none;
    padding: 10px 0 5px 40px
}

footer h3 {
    padding: 10px 0 0 40px;
    color: #9c7c38;
}

footer a {
    text-decoration: none;
    color: var(--white);
}

.footer-text {
    text-align: left;
}

footer p {
    padding: 10px 0 0 40px;
}

/* Katalog */

#flipbook {
    padding: 40px 0;
    margin: 0 auto;
}

/* Contact */
#contact ul {
    list-style: none;
}

#contact li {
    font-weight: 700;
    
}
/* Queries */

@media (min-width: 1200px) {}

@media (max-width: 992px) {
    .podaci {
        grid-template-columns: repeat(2, auto);
    }
    nav a{
        padding: 10px;
    }
}

@media (max-width: 768px) {
    nav {
        background-image: var(--blue);
        width: 100%;
    }
    .logo {
        width: 100%;
        height: 200px;
        padding: 0;
    }
    .podaci {
        grid-template-columns: repeat(1, auto);
    }
    .container-grid {
        grid-gap: 5%;
        grid-template-columns: repeat(1, auto);
    }
    .top-container {
        grid-template-areas: 'showcase' 'top-box-a' 'top-box-b';
    }
}